<!DOCTYPE html>
<html>
<head>
	<title>AWS Project</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<h1>Home</h1>

	<div ng-show="!user" class="row">
		<div class="col-md-12">
			<h2>Signup or Login to ngSellAWSBuy</h2>
			<div google-signin
				client-id='846873793970'
				after-signin="signedIn(oauth)"></div>
		</div>
	</div>

	<div ng-show="user">
		<pre>{{ user | json }}</pre>
		<div class="row">
			<div class="col-md-12">                
				<div file-upload="onFile(files)"></div>
			</div>
		</div>
		<div ng-show="images">
			<div class="col-sm-6 col-md-4" ng-repeat="image in images">
				<div class="thumbnail">
					<img ng-click="sellImage(image)" data-ng-src="{{image.itemUrl}}" />
				</div>
			</div>
		</div>
		<div ng-show="showCC">
			<form ng-submit="submitPayment()">
				<span ng-bind="errors"></span>

				<label>
					<span>Card Number</span>
					<input type="text"
					ng-minlength="16"
					ng-maxlength="20"
					size="20"
					data-stripe="number"
					ng-model="charge.number" />
				</label>
				<label>
					<span>CVC</span>
					<input type="text"
					ng-minlength="3"
					ng-maxlength="4"
					data-stripe="cvc"
					ng-model="charge.cvc" />
				</label>

				<label>
					<span>Expiration (MM/YYYY)</span>
					<input type="text"
					ng-minlength="2"
					ng-maxlength="2"
					size="2"
					data-stripe="exp-month"
					ng-model="charge.exp_month" />
				</label>
				<label>
					<span> / </span>
					<input type="text"
					ng-minlength="4"
					ng-maxlength="4"
					size="4"
					data-stripe="exp_year"
					ng-model="charge.ex_year" />
				</label>

				<input type="hidden"
				name="email"
				value="user.email" />

				<button type="submit">Submit Payment</button>
			</form>
		</div>

		<div ng-show="!images">
			<h4>You have nothing for sale. Upload something</h4>
		</div>

	</div>
</div>	
	<div ng-view></div>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<script src="scripts/directives.js"></script>

	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/client:plusone.js?onload=onLoadCallback';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>
</body>
</html>